In [26]:
import pandas as pd
import matplotlib.pyplot as plt

In [48]:

df = pd.read_csv("Loan 2.csv", encoding = "ISO-8859-1")

In [49]:
# Display the first few rows of the merged dataframe
print(df.head())

  Customer ID               Name Gender  Age  Income (USD) Income Stability  \
0     C-36995   Frederica Shealy      F   56       1933.05              Low
1     C-33999  America Calderone      M   32       4952.91              Low
2      C-3770      Rosetta Verne      F   65        988.19             High
3     C-26480         Zoe Chitty      F   65           NaN             High
4     C-23459       Afton Venema      F   31       2614.77              Low

  Profession     Type of Employment    Location  Loan Amount Request (USD)  \
0    Working            Sales staff  Semi-Urban                   72809.58
1    Working                    NaN  Semi-Urban                   46837.47
2  Pensioner                    NaN  Semi-Urban                   45593.04
3  Pensioner                    NaN       Rural                   80057.92
4    Working  High skill tech staff  Semi-Urban                  113858.89

   Current Loan Expenses (USD) Expense Type 1 Expense Type 2  Dependents  \
0                       241.08              N              N         3.0
1                       495.81              N              Y         1.0
2                       171.95              N              Y         1.0
3                       298.54              N              Y         2.0
4                       491.41              N              Y         NaN

   Credit Score  No. of Defaults Has Active Credit Card  Property ID  \
0        809.44                0                    NaN          746
1        780.40                0            Unpossessed          608
2        833.15                0            Unpossessed          546
3        832.70                1            Unpossessed          890
4        745.55                1                 Active          715

   Property Age  Property Type Property Location  Co-Applicant  \
0       1933.05              4             Rural             1
1       4952.91              2             Rural             1
2        988.19              2             Urban             0
3           NaN              2        Semi-Urban             1
4       2614.77              4        Semi-Urban             1

   Property Price  Loan Sanction Amount (USD)
0       119933.46                    54607.18
1        54791.00                    37469.98
2        72440.58                    36474.43
3       121441.51                    56040.54
4       208567.91                    74008.28

 print(merged_df.isnull().sum())

In [51]:
print(df.isnull().sum())

Customer ID                       0
Name                              0
Gender                           53
Age                               0
Income (USD)                   4576
Income Stability               1683
Profession                        0
Type of Employment             7270
Location                          0
Loan Amount Request (USD)         0
Current Loan Expenses (USD)     172
Expense Type 1                    0
Expense Type 2                    0
Dependents                     2493
Credit Score                   1703
No. of Defaults                   0
Has Active Credit Card         1566
Property ID                       0
Property Age                   4850
Property Type                     0
Property Location               356
Co-Applicant                      0
Property Price                    0
Loan Sanction Amount (USD)      340
dtype: int64

In [21]:
# # Drop columns with more than 60% missing values
# threshold = len(merged_df) * 0.6
# merged_df = merged_df.dropna(thresh=threshold, axis=1)

# print("Remaining columns after dropping:\n", merged_df.isnull().sum())

In [52]:
# Calculate the mode of the Gender
gender_mode = df['Gender'].mode()[0]
print(f"Mode of Gender column: {gender_mode}")

Mode of Gender column: M

In [53]:
# Fill missing values with the mode
df['Gender'].fillna(gender_mode, inplace=True)

In [54]:
print(df['Gender'].isnull().sum())

0

In [55]:
# Calculate the mean of the Income
income_mean = df['Income (USD)'].mean()
print(f"Mean of Income (USD) column: {income_mean}")

Mean of Income (USD) column: 2630.574417479547

In [56]:
df['Income (USD)'].fillna(income_mean, inplace=True)

In [58]:
conditions=[
    (df['Income Stability'].notnull()),
    (df['Income Stability'].isnull())&(df['Profession']=='Commercial associate'),#Low
    (df['Income Stability'].isnull())&(df['Profession']=='Working'),#Low
    (df['Income Stability'].isnull())&(df['Profession']=='Pensioner'),#High
    (df['Income Stability'].isnull())&(df['Profession']=='State servant'),#Low
    (df['Income Stability'].isnull())&(df['Profession']=='Unemployed'),#Low
    (df['Income Stability'].isnull())&(df['Profession']=='Maternity leave'),#Low
    (df['Income Stability'].isnull())&(df['Profession']=='Student'),#Low
    (df['Income Stability'].isnull())&(df['Profession']=='Businessman')#Low    
]

values=[
    df['Income Stability'],
    'Low',
    'Low',
    'High',
    'Low',
    'Low',
    'Low',
    'Low',
    'High'
]

In [59]:
df['Income Stability'] = np.select(conditions, values, default='Unknown')

In [60]:
df['Income Stability'].isnull().sum()

0

In [61]:
# Calculate the mode of the Type of Employment column
employment_mode = df['Type of Employment'].mode()[0]
print(f"Mode of Type of Employment column: {employment_mode}")

Mode of Type of Employment column: Laborers

In [62]:

# Fill missing values with the mode
df['Type of Employment'].fillna(employment_mode, inplace=True)

In [63]:
# Calculate the median of the Current Loan Expenses (USD) column
loan_expenses_median = df['Current Loan Expenses (USD)'].median()
print(f"Median of Current Loan Expenses (USD) column: {loan_expenses_median}")

Median of Current Loan Expenses (USD) column: 375.205

In [64]:
df['Current Loan Expenses (USD)'].fillna(loan_expenses_median, inplace=True)

In [65]:
# Fill missing values in predictors with their median
df['Income (USD)'].fillna(df['Income (USD)'].median(), inplace=True)
df['Age'].fillna(df['Age'].median(), inplace=True)
df['Current Loan Expenses (USD)'].fillna(df['Current Loan Expenses (USD)'].median(), inplace=True)

# Check for remaining missing values
print(df[['Income (USD)', 'Age', 'Current Loan Expenses (USD)']].isnull().sum())

Income (USD)                   0
Age                            0
Current Loan Expenses (USD)    0
dtype: int64

In [66]:
from sklearn.linear_model import LinearRegression
import numpy as np

# Separate the dataset into training data \
train_data = df[df['Loan Sanction Amount (USD)'].notnull()]
predict_data = df[df['Loan Sanction Amount (USD)'].isnull()]

# Define predictor variables (X) and target variable (y)
X_train = train_data[['Income (USD)', 'Age', 'Current Loan Expenses (USD)']]
y_train = train_data['Loan Sanction Amount (USD)']

# Train the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Predict the missing values
X_predict = predict_data[['Income (USD)', 'Age', 'Current Loan Expenses (USD)']]
predicted_values = model.predict(X_predict)

# Fill the missing values
df.loc[df['Loan Sanction Amount (USD)'].isnull(), 'Loan Sanction Amount (USD)'] = predicted_values

In [68]:
from sklearn.linear_model import LinearRegression

# Separate the dataset into training data (without nulls in target) and data to predict (with nulls in target)
train_data = df[df['Property Age'].notnull()]
predict_data = df[df['Property Age'].isnull()]

# Define predictor variables (X) and target variable (y)
X_train = train_data[['Income (USD)', 'Age', 'Current Loan Expenses (USD)']]
y_train = train_data['Property Age']

# Train the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Predict the missing values
X_predict = predict_data[['Income (USD)', 'Age', 'Current Loan Expenses (USD)']]
predicted_values = model.predict(X_predict)

# Fill the missing values
df.loc[df['Property Age'].isnull(), 'Property Age'] = predicted_values

In [72]:
print(df.isnull().sum())

Customer ID                       0
Name                              0
Gender                            0
Age                               0
Income (USD)                      0
Income Stability                  0
Profession                        0
Type of Employment                0
Location                          0
Loan Amount Request (USD)         0
Current Loan Expenses (USD)       0
Expense Type 1                    0
Expense Type 2                    0
Dependents                     2493
Credit Score                   1703
No. of Defaults                   0
Has Active Credit Card            0
Property ID                       0
Property Age                      0
Property Type                     0
Property Location               356
Co-Applicant                      0
Property Price                    0
Loan Sanction Amount (USD)        0
dtype: int64

In [76]:
# Calculate the mode of the Gender
dependents_mode = df['Dependents'].mode()[0]
print(f"Mode of dependents column: {dependents_mode}")

Mode of dependents column: 2.0

In [81]:
# Fill missing values with the mode
df['Dependents'].fillna(dependents_mode, inplace=True)

In [86]:
# Calculate the median of credit_score
credit_median = df['Credit Score'].median()
print(f"median of credit score column: {credit_median}")

median of credit score column: 739.82

In [87]:
# Fill missing values with the median
df['Credit Score'].fillna(credit_median, inplace=True)

In [88]:
print(df.isnull().sum())

Customer ID                      0
Name                             0
Gender                           0
Age                              0
Income (USD)                     0
Income Stability                 0
Profession                       0
Type of Employment               0
Location                         0
Loan Amount Request (USD)        0
Current Loan Expenses (USD)      0
Expense Type 1                   0
Expense Type 2                   0
Dependents                       0
Credit Score                     0
No. of Defaults                  0
Has Active Credit Card           0
Property ID                      0
Property Age                     0
Property Type                    0
Property Location              356
Co-Applicant                     0
Property Price                   0
Loan Sanction Amount (USD)       0
dtype: int64

In [89]:
# Calculate Q1 (25th percentile) and Q3 (75th percentile)
Q1 = df['Income (USD)'].quantile(0.25)
Q3 = df['Income (USD)'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = df[(df['Income (USD)'] < lower_bound) | (df['Income (USD)'] > upper_bound)]

print(f"Outliers:\n{outliers}")

Outliers:
      Customer ID               Name Gender  Age  Income (USD)  \
1         C-33999  America Calderone      M   32       4952.91
27        C-44863     Gerard Forsman      F   18       5350.94
36        C-21055    Travis Priester      F   61       5302.28
39        C-24451     Margareta Wind      M   18       7885.56
41        C-48527       Mana Chattin      F   54       5330.72
...           ...                ...    ...  ...           ...
29892     C-22791       Ranee Faunce      M   18       5074.06
29904      C-5271     Londa Eisenman      M   60       6685.40
29913     C-40023      Zoraida Verde      M   29       4665.26
29986     C-36230       Krystin Weir      M   32       8308.27
29995     C-43723  Angelyn Clevenger      M   38       4969.41

      Income Stability            Profession Type of Employment    Location  \
1                  Low               Working           Laborers  Semi-Urban
27                 Low  Commercial associate           Managers  Semi-Urban
36                 Low               Working        Accountants       Rural
39                 Low  Commercial associate           Managers       Urban
41                 Low               Working           Managers  Semi-Urban
...                ...                   ...                ...         ...
29892              Low               Working            Drivers  Semi-Urban
29904              Low  Commercial associate         Core staff       Urban
29913              Low         State servant           Managers       Rural
29986              Low  Commercial associate           Managers       Urban
29995              Low  Commercial associate           Managers       Urban

       Loan Amount Request (USD)  Current Loan Expenses (USD) Expense Type 1  \
1                       46837.47                       495.81              N
27                      99492.44                       516.71              Y
36                     186715.38                       527.81              Y
39                     121963.50                       587.80              Y
41                     133531.81                       535.77              N
...                          ...                          ...            ...
29892                   31708.49                       178.80              Y
29904                  281341.55                       730.34              Y
29913                   42469.35                       205.83              N
29986                   75696.52                       418.60              Y
29995                   76657.90                       722.34              Y

      Expense Type 2 Dependents  Credit Score  No. of Defaults  \
1                  Y        1.0        780.40                0
27                 Y        2.0        733.68                0
36                 N        1.0        748.38                0
39                 Y        1.0        721.18                1
41                 N        1.0        861.21                1
...              ...        ...           ...              ...
29892              N        1.0        700.42                1
29904              Y        2.0        791.53                1
29913              N        1.0        807.96                0
29986              Y        3.0        784.91                0
29995              Y        2.0        869.61                0

       Has Active Credit Card  Property ID  Property Age  Property Type  \
1                           2          608       4952.91              2
27                          1          344       5350.94              3
36                          0           43       5302.28              3
39                          2          530       7885.56              1
41                          0          467       5330.72              2
...                       ...          ...           ...            ...
29892                       1          315       5074.06              3
29904                       0          472       6685.40              3
29913                       2           15       4665.26              3
29986                       1          816       8308.27              3
29995                       2          566       4969.41              4

      Property Location  Co-Applicant  Property Price  \
1                 Rural             1        54791.00
27                Rural             0       188950.33
36           Semi-Urban             1       270558.30
39                Urban             1       142645.25
41                Urban             1       170214.99
...                 ...           ...             ...
29892             Rural             1        36119.16
29904             Rural             1       498738.14
29913        Semi-Urban             1        47990.98
29986        Semi-Urban             1       106908.58
29995             Urban             1       111096.56

       Loan Sanction Amount (USD)
1                        37469.98
27                           0.00
36                      121365.00
39                       85374.45
41                      100148.86
...                           ...
29892                    20610.52
29904                   211006.16
29913                    29728.54
29986                    52987.56
29995                    68992.11

[1874 rows x 24 columns]

In [90]:
# Replacing outliers with the median value of the column
median_value = df['Income (USD)'].median()
df['Income (USD)'] = df['Income (USD)'].apply(lambda x: median_value if (x < lower_bound or x > upper_bound) else x)

print(f"Data with Replaced Outliers:\n{df}")

Data with Replaced Outliers:
      Customer ID               Name Gender  Age  Income (USD)  \
0         C-36995   Frederica Shealy      F   56   1933.050000
1         C-33999  America Calderone      M   32   2473.470000
2          C-3770      Rosetta Verne      F   65    988.190000
3         C-26480         Zoe Chitty      F   65   2630.574417
4         C-23459       Afton Venema      F   31   2614.770000
...           ...                ...    ...  ...           ...
29995     C-43723  Angelyn Clevenger      M   38   2473.470000
29996     C-32511       Silas Slaugh      M   20   1606.880000
29997      C-5192       Carmelo Lone      F   49   2630.574417
29998     C-12172      Carolann Osby      M   38   2417.710000
29999     C-33003  Bridget Garibaldi      F   63   3068.240000

      Income Stability            Profession     Type of Employment  \
0                  Low               Working            Sales staff
1                  Low               Working               Laborers
2                 High             Pensioner               Laborers
3                 High             Pensioner               Laborers
4                  Low               Working  High skill tech staff
...                ...                   ...                    ...
29995              Low  Commercial associate               Managers
29996              Low               Working               Laborers
29997              Low               Working            Sales staff
29998              Low               Working         Security staff
29999             High             Pensioner               Laborers

         Location  Loan Amount Request (USD)  Current Loan Expenses (USD)  \
0      Semi-Urban                   72809.58                       241.08
1      Semi-Urban                   46837.47                       495.81
2      Semi-Urban                   45593.04                       171.95
3           Rural                   80057.92                       298.54
4      Semi-Urban                  113858.89                       491.41
...           ...                        ...                          ...
29995       Urban                   76657.90                       722.34
29996  Semi-Urban                   66595.14                       253.04
29997       Urban                   81410.08                       583.11
29998  Semi-Urban                  142524.10                       378.29
29999       Rural                  156290.54                       693.94

      Expense Type 1 Expense Type 2 Dependents  Credit Score  No. of Defaults  \
0                  N              N        3.0        809.44                0
1                  N              Y        1.0        780.40                0
2                  N              Y        1.0        833.15                0
3                  N              Y        2.0        832.70                1
4                  N              Y          M        745.55                1
...              ...            ...        ...           ...              ...
29995              Y              Y        2.0        869.61                0
29996              N              N        3.0        729.41                0
29997              N              Y          M        739.82                0
29998              N              Y        3.0        677.27                1
29999              N              Y        1.0        815.44                0

       Has Active Credit Card  Property ID  Property Age  Property Type  \
0                           3          746   1933.050000              4
1                           2          608   4952.910000              2
2                           2          546    988.190000              2
3                           2          890   2630.574417              2
4                           0          715   2614.770000              4
...                       ...          ...           ...            ...
29995                       2          566   4969.410000              4
29996                       1          175   1606.880000              3
29997                       0          959   2630.574417              1
29998                       2          375   2417.710000              4
29999                       0          344   3068.240000              3

      Property Location  Co-Applicant  Property Price  \
0                 Rural             1       119933.46
1                 Rural             1        54791.00
2                 Urban             0        72440.58
3            Semi-Urban             1       121441.51
4            Semi-Urban             1       208567.91
...                 ...           ...             ...
29995             Urban             1       111096.56
29996             Urban             1        73453.94
29997             Rural             1       102108.02
29998             Urban             1       168194.47
29999             Rural             1       194512.60

       Loan Sanction Amount (USD)
0                        54607.18
1                        37469.98
2                        36474.43
3                        56040.54
4                        74008.28
...                           ...
29995                    68992.11
29996                    46616.60
29997                    61057.56
29998                    99766.87
29999                   117217.90

[30000 rows x 24 columns]

In [91]:
Q1 = df['Loan Sanction Amount (USD)'].quantile(0.25)
Q3 = df['Loan Sanction Amount (USD)'].quantile(0.75)
IQR = Q3 - Q1

# Define lower and upper bounds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Identify outliers
outliers_iqr = df[(df['Loan Sanction Amount (USD)'] < lower_bound) | (df['Loan Sanction Amount (USD)'] > upper_bound)]

print(f"Outliers using IQR:\n{outliers_iqr}")

Outliers using IQR:
      Customer ID                Name Gender  Age  Income (USD)  \
87        C-27965    Jacklyn Jiggetts      F   61   2630.574417
215       C-16868    Earlie Fleischer      M   64   2473.470000
247       C-34512        Melonie Pare      M   52   3019.220000
267        C-7202  Sanford Laughridge      M   25   2630.574417
305       C-26752          Guy Huling      M   62   2473.470000
...           ...                 ...    ...  ...           ...
29538      C-2791           Ned Nicks      M   32   3662.450000
29615     C-21328   Princess Bettcher      M   18   3893.550000
29658     C-40788       Lolita Adkins      F   53   2473.470000
29904      C-5271      Londa Eisenman      M   60   2473.470000
29918      C-9504           Alaina Au      F   64   3483.690000

      Income Stability            Profession Type of Employment    Location  \
87                High             Pensioner           Laborers       Urban
215               High             Pensioner           Laborers       Urban
247                Low               Working         Core staff       Rural
267                Low         State servant     Medicine staff       Urban
305                Low               Working           Laborers  Semi-Urban
...                ...                   ...                ...         ...
29538              Low               Working        Accountants  Semi-Urban
29615              Low  Commercial associate           Managers  Semi-Urban
29658              Low               Working           Managers  Semi-Urban
29904              Low  Commercial associate         Core staff       Urban
29918             High             Pensioner           Laborers       Urban

       Loan Amount Request (USD)  Current Loan Expenses (USD) Expense Type 1  \
87                     258359.02                       938.59              Y
215                    290858.74                       856.03              N
247                    282407.38                       971.44              N
267                    249733.19                       666.17              N
305                    304135.78                      1007.69              Y
...                          ...                          ...            ...
29538                  267264.81                       829.37              N
29615                  273015.48                       669.73              Y
29658                  314413.97                       818.16              Y
29904                  281341.55                       730.34              Y
29918                  281390.10                       731.69              Y

      Expense Type 2 Dependents  Credit Score  No. of Defaults  \
87                 Y        3.0        791.54                0
215                Y        2.0        870.22                0
247                Y        2.0        699.81                1
267                Y        1.0        845.35                0
305                Y        2.0        787.93                0
...              ...        ...           ...              ...
29538              N        2.0        739.82                0
29615              Y        3.0        739.82                0
29658              N        5.0        804.01                0
29904              Y        2.0        791.53                1
29918              N        2.0        839.65                0

       Has Active Credit Card  Property ID  Property Age  Property Type  \
87                          0          673   2630.574417              2
215                         0          466   5939.780000              2
247                         2          556   3019.220000              1
267                         2          508   2630.574417              4
305                         1          449   7356.570000              2
...                       ...          ...           ...            ...
29538                       1          151   3662.450000              3
29615                       0          845   3893.550000              3
29658                       3          263   4777.810000              2
29904                       0          472   6685.400000              3
29918                       0          318   3483.690000              4

      Property Location  Co-Applicant  Property Price  \
87                Rural             1       437535.71
215               Rural             0       491475.67
247               Urban             1       368376.84
267          Semi-Urban             1       390337.74
305          Semi-Urban             1       445829.27
...                 ...           ...             ...
29538             Urban             1       311549.65
29615             Rural             1       502173.35
29658        Semi-Urban             1       585264.20
29904             Rural             1       498738.14
29918        Semi-Urban             0       323671.90

       Loan Sanction Amount (USD)
87                      193769.26
215                     218144.06
247                     197685.17
267                     187299.89
305                     243308.62
...                           ...
29538                   200448.61
29615                   218412.38
29658                   251531.18
29904                   211006.16
29918                   225112.08

[443 rows x 24 columns]

In [92]:
# Replace outliers with the median value
median_value = df['Loan Sanction Amount (USD)'].median()
df['Loan Sanction Amount (USD)'] = df['Loan Sanction Amount (USD)'].apply(lambda x: median_value if (x < lower_bound or x > upper_bound) else x)

print(f"Data after replacing outliers with median:\n{df}")

Data after replacing outliers with median:
      Customer ID               Name Gender  Age  Income (USD)  \
0         C-36995   Frederica Shealy      F   56   1933.050000
1         C-33999  America Calderone      M   32   2473.470000
2          C-3770      Rosetta Verne      F   65    988.190000
3         C-26480         Zoe Chitty      F   65   2630.574417
4         C-23459       Afton Venema      F   31   2614.770000
...           ...                ...    ...  ...           ...
29995     C-43723  Angelyn Clevenger      M   38   2473.470000
29996     C-32511       Silas Slaugh      M   20   1606.880000
29997      C-5192       Carmelo Lone      F   49   2630.574417
29998     C-12172      Carolann Osby      M   38   2417.710000
29999     C-33003  Bridget Garibaldi      F   63   3068.240000

      Income Stability            Profession     Type of Employment  \
0                  Low               Working            Sales staff
1                  Low               Working               Laborers
2                 High             Pensioner               Laborers
3                 High             Pensioner               Laborers
4                  Low               Working  High skill tech staff
...                ...                   ...                    ...
29995              Low  Commercial associate               Managers
29996              Low               Working               Laborers
29997              Low               Working            Sales staff
29998              Low               Working         Security staff
29999             High             Pensioner               Laborers

         Location  Loan Amount Request (USD)  Current Loan Expenses (USD)  \
0      Semi-Urban                   72809.58                       241.08
1      Semi-Urban                   46837.47                       495.81
2      Semi-Urban                   45593.04                       171.95
3           Rural                   80057.92                       298.54
4      Semi-Urban                  113858.89                       491.41
...           ...                        ...                          ...
29995       Urban                   76657.90                       722.34
29996  Semi-Urban                   66595.14                       253.04
29997       Urban                   81410.08                       583.11
29998  Semi-Urban                  142524.10                       378.29
29999       Rural                  156290.54                       693.94

      Expense Type 1 Expense Type 2 Dependents  Credit Score  No. of Defaults  \
0                  N              N        3.0        809.44                0
1                  N              Y        1.0        780.40                0
2                  N              Y        1.0        833.15                0
3                  N              Y        2.0        832.70                1
4                  N              Y          M        745.55                1
...              ...            ...        ...           ...              ...
29995              Y              Y        2.0        869.61                0
29996              N              N        3.0        729.41                0
29997              N              Y          M        739.82                0
29998              N              Y        3.0        677.27                1
29999              N              Y        1.0        815.44                0

       Has Active Credit Card  Property ID  Property Age  Property Type  \
0                           3          746   1933.050000              4
1                           2          608   4952.910000              2
2                           2          546    988.190000              2
3                           2          890   2630.574417              2
4                           0          715   2614.770000              4
...                       ...          ...           ...            ...
29995                       2          566   4969.410000              4
29996                       1          175   1606.880000              3
29997                       0          959   2630.574417              1
29998                       2          375   2417.710000              4
29999                       0          344   3068.240000              3

      Property Location  Co-Applicant  Property Price  \
0                 Rural             1       119933.46
1                 Rural             1        54791.00
2                 Urban             0        72440.58
3            Semi-Urban             1       121441.51
4            Semi-Urban             1       208567.91
...                 ...           ...             ...
29995             Urban             1       111096.56
29996             Urban             1        73453.94
29997             Rural             1       102108.02
29998             Urban             1       168194.47
29999             Rural             1       194512.60

       Loan Sanction Amount (USD)
0                        54607.18
1                        37469.98
2                        36474.43
3                        56040.54
4                        74008.28
...                           ...
29995                    68992.11
29996                    46616.60
29997                    61057.56
29998                    99766.87
29999                   117217.90

[30000 rows x 24 columns]

In [93]:
Q1 = df['Loan Amount Request (USD)'].quantile(0.25)
Q3 = df['Loan Amount Request (USD)'].quantile(0.75)
IQR = Q3 - Q1

# Define lower and upper bounds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Identify outliers
outliers_iqr = df[(df['Loan Amount Request (USD)'] < lower_bound) | (df['Loan Amount Request (USD)'] > upper_bound)]



# Replace outliers with the median value
median_value = df['Loan Amount Request (USD)'].median()
df['Loan Amount Request (USD)'] = df['Loan Amount Request (USD)'].apply(lambda x: median_value if (x < lower_bound or x > upper_bound) else x)

print(f"Data after replacing outliers with median:\n{df}")

Data after replacing outliers with median:
      Customer ID               Name Gender  Age  Income (USD)  \
0         C-36995   Frederica Shealy      F   56   1933.050000
1         C-33999  America Calderone      M   32   2473.470000
2          C-3770      Rosetta Verne      F   65    988.190000
3         C-26480         Zoe Chitty      F   65   2630.574417
4         C-23459       Afton Venema      F   31   2614.770000
...           ...                ...    ...  ...           ...
29995     C-43723  Angelyn Clevenger      M   38   2473.470000
29996     C-32511       Silas Slaugh      M   20   1606.880000
29997      C-5192       Carmelo Lone      F   49   2630.574417
29998     C-12172      Carolann Osby      M   38   2417.710000
29999     C-33003  Bridget Garibaldi      F   63   3068.240000

      Income Stability            Profession     Type of Employment  \
0                  Low               Working            Sales staff
1                  Low               Working               Laborers
2                 High             Pensioner               Laborers
3                 High             Pensioner               Laborers
4                  Low               Working  High skill tech staff
...                ...                   ...                    ...
29995              Low  Commercial associate               Managers
29996              Low               Working               Laborers
29997              Low               Working            Sales staff
29998              Low               Working         Security staff
29999             High             Pensioner               Laborers

         Location  Loan Amount Request (USD)  Current Loan Expenses (USD)  \
0      Semi-Urban                   72809.58                       241.08
1      Semi-Urban                   46837.47                       495.81
2      Semi-Urban                   45593.04                       171.95
3           Rural                   80057.92                       298.54
4      Semi-Urban                  113858.89                       491.41
...           ...                        ...                          ...
29995       Urban                   76657.90                       722.34
29996  Semi-Urban                   66595.14                       253.04
29997       Urban                   81410.08                       583.11
29998  Semi-Urban                  142524.10                       378.29
29999       Rural                  156290.54                       693.94

      Expense Type 1 Expense Type 2 Dependents  Credit Score  No. of Defaults  \
0                  N              N        3.0        809.44                0
1                  N              Y        1.0        780.40                0
2                  N              Y        1.0        833.15                0
3                  N              Y        2.0        832.70                1
4                  N              Y          M        745.55                1
...              ...            ...        ...           ...              ...
29995              Y              Y        2.0        869.61                0
29996              N              N        3.0        729.41                0
29997              N              Y          M        739.82                0
29998              N              Y        3.0        677.27                1
29999              N              Y        1.0        815.44                0

       Has Active Credit Card  Property ID  Property Age  Property Type  \
0                           3          746   1933.050000              4
1                           2          608   4952.910000              2
2                           2          546    988.190000              2
3                           2          890   2630.574417              2
4                           0          715   2614.770000              4
...                       ...          ...           ...            ...
29995                       2          566   4969.410000              4
29996                       1          175   1606.880000              3
29997                       0          959   2630.574417              1
29998                       2          375   2417.710000              4
29999                       0          344   3068.240000              3

      Property Location  Co-Applicant  Property Price  \
0                 Rural             1       119933.46
1                 Rural             1        54791.00
2                 Urban             0        72440.58
3            Semi-Urban             1       121441.51
4            Semi-Urban             1       208567.91
...                 ...           ...             ...
29995             Urban             1       111096.56
29996             Urban             1        73453.94
29997             Rural             1       102108.02
29998             Urban             1       168194.47
29999             Rural             1       194512.60

       Loan Sanction Amount (USD)
0                        54607.18
1                        37469.98
2                        36474.43
3                        56040.54
4                        74008.28
...                           ...
29995                    68992.11
29996                    46616.60
29997                    61057.56
29998                    99766.87
29999                   117217.90

[30000 rows x 24 columns]

In [94]:
Q1 = df['Current Loan Expenses (USD)'].quantile(0.25)
Q3 = df['Current Loan Expenses (USD)'].quantile(0.75)
IQR = Q3 - Q1

# Define lower and upper bounds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Identify outliers
outliers_iqr = df[(df['Current Loan Expenses (USD)'] < lower_bound) | (df['Current Loan Expenses (USD)'] > upper_bound)]



# Replace outliers with the median value
median_value = df['Loan Amount Request (USD)'].median()
df['Current Loan Expenses (USD)'] = df['Current Loan Expenses (USD)'].apply(lambda x: median_value if (x < lower_bound or x > upper_bound) else x)

print(f"Data after replacing outliers with median:\n{df}")

Data after replacing outliers with median:
      Customer ID               Name Gender  Age  Income (USD)  \
0         C-36995   Frederica Shealy      F   56   1933.050000
1         C-33999  America Calderone      M   32   2473.470000
2          C-3770      Rosetta Verne      F   65    988.190000
3         C-26480         Zoe Chitty      F   65   2630.574417
4         C-23459       Afton Venema      F   31   2614.770000
...           ...                ...    ...  ...           ...
29995     C-43723  Angelyn Clevenger      M   38   2473.470000
29996     C-32511       Silas Slaugh      M   20   1606.880000
29997      C-5192       Carmelo Lone      F   49   2630.574417
29998     C-12172      Carolann Osby      M   38   2417.710000
29999     C-33003  Bridget Garibaldi      F   63   3068.240000

      Income Stability            Profession     Type of Employment  \
0                  Low               Working            Sales staff
1                  Low               Working               Laborers
2                 High             Pensioner               Laborers
3                 High             Pensioner               Laborers
4                  Low               Working  High skill tech staff
...                ...                   ...                    ...
29995              Low  Commercial associate               Managers
29996              Low               Working               Laborers
29997              Low               Working            Sales staff
29998              Low               Working         Security staff
29999             High             Pensioner               Laborers

         Location  Loan Amount Request (USD)  Current Loan Expenses (USD)  \
0      Semi-Urban                   72809.58                       241.08
1      Semi-Urban                   46837.47                       495.81
2      Semi-Urban                   45593.04                       171.95
3           Rural                   80057.92                       298.54
4      Semi-Urban                  113858.89                       491.41
...           ...                        ...                          ...
29995       Urban                   76657.90                       722.34
29996  Semi-Urban                   66595.14                       253.04
29997       Urban                   81410.08                       583.11
29998  Semi-Urban                  142524.10                       378.29
29999       Rural                  156290.54                       693.94

      Expense Type 1 Expense Type 2 Dependents  Credit Score  No. of Defaults  \
0                  N              N        3.0        809.44                0
1                  N              Y        1.0        780.40                0
2                  N              Y        1.0        833.15                0
3                  N              Y        2.0        832.70                1
4                  N              Y          M        745.55                1
...              ...            ...        ...           ...              ...
29995              Y              Y        2.0        869.61                0
29996              N              N        3.0        729.41                0
29997              N              Y          M        739.82                0
29998              N              Y        3.0        677.27                1
29999              N              Y        1.0        815.44                0

       Has Active Credit Card  Property ID  Property Age  Property Type  \
0                           3          746   1933.050000              4
1                           2          608   4952.910000              2
2                           2          546    988.190000              2
3                           2          890   2630.574417              2
4                           0          715   2614.770000              4
...                       ...          ...           ...            ...
29995                       2          566   4969.410000              4
29996                       1          175   1606.880000              3
29997                       0          959   2630.574417              1
29998                       2          375   2417.710000              4
29999                       0          344   3068.240000              3

      Property Location  Co-Applicant  Property Price  \
0                 Rural             1       119933.46
1                 Rural             1        54791.00
2                 Urban             0        72440.58
3            Semi-Urban             1       121441.51
4            Semi-Urban             1       208567.91
...                 ...           ...             ...
29995             Urban             1       111096.56
29996             Urban             1        73453.94
29997             Rural             1       102108.02
29998             Urban             1       168194.47
29999             Rural             1       194512.60

       Loan Sanction Amount (USD)
0                        54607.18
1                        37469.98
2                        36474.43
3                        56040.54
4                        74008.28
...                           ...
29995                    68992.11
29996                    46616.60
29997                    61057.56
29998                    99766.87
29999                   117217.90

[30000 rows x 24 columns]

In [97]:
Q1 = df['Property Price'].quantile(0.25)
Q3 = df['Property Price'].quantile(0.75)
IQR = Q3 - Q1

# Define lower and upper bounds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Identify outliers
outliers_iqr = df[(df['Property Price'] < lower_bound) | (df['Property Price'] > upper_bound)]



# Replace outliers with the median value
median_value = df['Property Price'].median()
df['DProperty Price'] = df['Property Price'].apply(lambda x: median_value if (x < lower_bound or x > upper_bound) else x)

print(f"Data after replacing outliers with median:\n{df}")

Data after replacing outliers with median:
      Customer ID               Name Gender  Age  Income (USD)  \
0         C-36995   Frederica Shealy      F   56   1933.050000
1         C-33999  America Calderone      M   32   2473.470000
2          C-3770      Rosetta Verne      F   65    988.190000
3         C-26480         Zoe Chitty      F   65   2630.574417
4         C-23459       Afton Venema      F   31   2614.770000
...           ...                ...    ...  ...           ...
29995     C-43723  Angelyn Clevenger      M   38   2473.470000
29996     C-32511       Silas Slaugh      M   20   1606.880000
29997      C-5192       Carmelo Lone      F   49   2630.574417
29998     C-12172      Carolann Osby      M   38   2417.710000
29999     C-33003  Bridget Garibaldi      F   63   3068.240000

      Income Stability            Profession     Type of Employment  \
0                  Low               Working            Sales staff
1                  Low               Working               Laborers
2                 High             Pensioner               Laborers
3                 High             Pensioner               Laborers
4                  Low               Working  High skill tech staff
...                ...                   ...                    ...
29995              Low  Commercial associate               Managers
29996              Low               Working               Laborers
29997              Low               Working            Sales staff
29998              Low               Working         Security staff
29999             High             Pensioner               Laborers

         Location  Loan Amount Request (USD)  Current Loan Expenses (USD)  \
0      Semi-Urban                   72809.58                       241.08
1      Semi-Urban                   46837.47                       495.81
2      Semi-Urban                   45593.04                       171.95
3           Rural                   80057.92                       298.54
4      Semi-Urban                  113858.89                       491.41
...           ...                        ...                          ...
29995       Urban                   76657.90                       722.34
29996  Semi-Urban                   66595.14                       253.04
29997       Urban                   81410.08                       583.11
29998  Semi-Urban                  142524.10                       378.29
29999       Rural                  156290.54                       693.94

      Expense Type 1 Expense Type 2 Dependents  Credit Score  No. of Defaults  \
0                  N              N        3.0        809.44                0
1                  N              Y        1.0        780.40                0
2                  N              Y        1.0        833.15                0
3                  N              Y        2.0        832.70                1
4                  N              Y          M        745.55                1
...              ...            ...        ...           ...              ...
29995              Y              Y        2.0        869.61                0
29996              N              N        3.0        729.41                0
29997              N              Y          M        739.82                0
29998              N              Y        3.0        677.27                1
29999              N              Y        1.0        815.44                0

       Has Active Credit Card  Property ID  Property Age  Property Type  \
0                           3          746   1933.050000              4
1                           2          608   4952.910000              2
2                           2          546    988.190000              2
3                           2          890   2630.574417              2
4                           0          715   2614.770000              4
...                       ...          ...           ...            ...
29995                       2          566   4969.410000              4
29996                       1          175   1606.880000              3
29997                       0          959   2630.574417              1
29998                       2          375   2417.710000              4
29999                       0          344   3068.240000              3

      Property Location  Co-Applicant  Property Price  \
0                 Rural             1       119933.46
1                 Rural             1        54791.00
2                 Urban             0        72440.58
3            Semi-Urban             1       121441.51
4            Semi-Urban             1       208567.91
...                 ...           ...             ...
29995             Urban             1       111096.56
29996             Urban             1        73453.94
29997             Rural             1       102108.02
29998             Urban             1       168194.47
29999             Rural             1       194512.60

       Loan Sanction Amount (USD)  DProperty Price
0                        54607.18        119933.46
1                        37469.98         54791.00
2                        36474.43         72440.58
3                        56040.54        121441.51
4                        74008.28        208567.91
...                           ...              ...
29995                    68992.11        111096.56
29996                    46616.60         73453.94
29997                    61057.56        102108.02
29998                    99766.87        168194.47
29999                   117217.90        194512.60

[30000 rows x 25 columns]

In [98]:
Q1 = df['Credit Score'].quantile(0.25)
Q3 = df['Credit Score'].quantile(0.75)
IQR = Q3 - Q1

# Define lower and upper bounds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Identify outliers
outliers_iqr = df[(df['Credit Score'] < lower_bound) | (df['Credit Score'] > upper_bound)]



# Replace outliers with the median value
median_value = df['Credit Score'].median()
df['Credit Score'] = df['Credit Score'].apply(lambda x: median_value if (x < lower_bound or x > upper_bound) else x)

print(f"Data after replacing outliers with median:\n{df}")

Data after replacing outliers with median:
      Customer ID               Name Gender  Age  Income (USD)  \
0         C-36995   Frederica Shealy      F   56   1933.050000
1         C-33999  America Calderone      M   32   2473.470000
2          C-3770      Rosetta Verne      F   65    988.190000
3         C-26480         Zoe Chitty      F   65   2630.574417
4         C-23459       Afton Venema      F   31   2614.770000
...           ...                ...    ...  ...           ...
29995     C-43723  Angelyn Clevenger      M   38   2473.470000
29996     C-32511       Silas Slaugh      M   20   1606.880000
29997      C-5192       Carmelo Lone      F   49   2630.574417
29998     C-12172      Carolann Osby      M   38   2417.710000
29999     C-33003  Bridget Garibaldi      F   63   3068.240000

      Income Stability            Profession     Type of Employment  \
0                  Low               Working            Sales staff
1                  Low               Working               Laborers
2                 High             Pensioner               Laborers
3                 High             Pensioner               Laborers
4                  Low               Working  High skill tech staff
...                ...                   ...                    ...
29995              Low  Commercial associate               Managers
29996              Low               Working               Laborers
29997              Low               Working            Sales staff
29998              Low               Working         Security staff
29999             High             Pensioner               Laborers

         Location  Loan Amount Request (USD)  Current Loan Expenses (USD)  \
0      Semi-Urban                   72809.58                       241.08
1      Semi-Urban                   46837.47                       495.81
2      Semi-Urban                   45593.04                       171.95
3           Rural                   80057.92                       298.54
4      Semi-Urban                  113858.89                       491.41
...           ...                        ...                          ...
29995       Urban                   76657.90                       722.34
29996  Semi-Urban                   66595.14                       253.04
29997       Urban                   81410.08                       583.11
29998  Semi-Urban                  142524.10                       378.29
29999       Rural                  156290.54                       693.94

      Expense Type 1 Expense Type 2 Dependents  Credit Score  No. of Defaults  \
0                  N              N        3.0        809.44                0
1                  N              Y        1.0        780.40                0
2                  N              Y        1.0        833.15                0
3                  N              Y        2.0        832.70                1
4                  N              Y          M        745.55                1
...              ...            ...        ...           ...              ...
29995              Y              Y        2.0        869.61                0
29996              N              N        3.0        729.41                0
29997              N              Y          M        739.82                0
29998              N              Y        3.0        677.27                1
29999              N              Y        1.0        815.44                0

       Has Active Credit Card  Property ID  Property Age  Property Type  \
0                           3          746   1933.050000              4
1                           2          608   4952.910000              2
2                           2          546    988.190000              2
3                           2          890   2630.574417              2
4                           0          715   2614.770000              4
...                       ...          ...           ...            ...
29995                       2          566   4969.410000              4
29996                       1          175   1606.880000              3
29997                       0          959   2630.574417              1
29998                       2          375   2417.710000              4
29999                       0          344   3068.240000              3

      Property Location  Co-Applicant  Property Price  \
0                 Rural             1       119933.46
1                 Rural             1        54791.00
2                 Urban             0        72440.58
3            Semi-Urban             1       121441.51
4            Semi-Urban             1       208567.91
...                 ...           ...             ...
29995             Urban             1       111096.56
29996             Urban             1        73453.94
29997             Rural             1       102108.02
29998             Urban             1       168194.47
29999             Rural             1       194512.60

       Loan Sanction Amount (USD)  DProperty Price
0                        54607.18        119933.46
1                        37469.98         54791.00
2                        36474.43         72440.58
3                        56040.54        121441.51
4                        74008.28        208567.91
...                           ...              ...
29995                    68992.11        111096.56
29996                    46616.60         73453.94
29997                    61057.56        102108.02
29998                    99766.87        168194.47
29999                   117217.90        194512.60

[30000 rows x 25 columns]